<h3>Books for Sale</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Course
      </th>
      <th>
        Book Title
      </th>
      <th>
        Edition
      </th>
      <th>
        Condition
      </th>
      <th>
        Price
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < offers.length; i++) { %>
    <tr>
      <td><%= offers[i].dept + " " + offers[i].course %></td>
      <td><%= offers[i].title %></td>
      <td><%= offers[i].edition %></td>
      <td><%= offers[i].condition %></td>
      <td><%= "$" + offers[i].price + ".00" %></td>
      <td><a href="/buy?offerId=<%= offers[i].offerId %>">Buy This Book</a></td>
    </tr>
    <% } %>
  </tbody>
</table>
