<h3>Your Listings</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Course
      </th>
      <th>
        Book Title
      </th>
      <th>
        Author
      </th>
      <th>
        Edition
      </th>
      <th>
        Condition
      </th>
      <th>
        Price
      </th>
      <th>
        Location
      </th>
      <th>
        Time
      </th>
      <th>
        Contact
      </th>
      <th>
        ISBN
      </th>
      <th>
        Sold?
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < offers.length; i++) { %>
      <% var offer = offers[i]; %>
    <tr>
      <td><%= offer.dept + " " + offers[i].course %></td>
      <td><%= offer.title %></td>
      <td><%= offer.author %></td>
      <td><%= offer.edition %></td>
      <td><%= offer.condition %></td>
      <td><%= "$" + offer.price + ".00" %></td>
      <td><%= offer.loc %></td>
      <td><%= offer.time %></td>
      <td>
        <% if (offer.contact) { %>
        <%= offer.contact %>
        <% } %>
      </td>
      <td>
        <% if (offer.isbn) { %>
        <%= offer.isbn %>
        <% } %>
      </td>
      <td>
        <% if (offer.fulfilled === 0) { %>
        no
        <% } else { %>
        <a href="/fill/<%= offer.fillId %>">yes</a>
        <% } %>
      </td>
      <td>
        <a href="/offer/delete/<%=offer.offerId%>?userId=<%=offer.userId%>">Delete</a>
        <a href="/offer/update/<%=offer.offerId%>">Update</a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
