<h3>Your Listings</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Course
      </th>
      <th>
        Book Title
      </th>
      <th>
        Author
      </th>
      <th>
        Edition
      </th>
      <th>
        Condition
      </th>
      <th>
        Price
      </th>
      <th>
        Location
      </th>
      <th>
        Time
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < offers.length; i++) { %>
      <% console.log(offers[i]); %>
    <tr>
      <td><%= offers[i].dept + " " + offers[i].course %></td>
      <td><%= offers[i].title %></td>
      <td><%= offers[i].author %></td>
      <td><%= offers[i].edition %></td>
      <td><%= offers[i].condition %></td>
      <td><%= "$" + offers[i].price + ".00" %></td>
      <td><%= offers[i].loc %></td>
      <td><%= offers[i].time %></td>
      <td><a href="/offer/delete?offerId=<%= offers[i].offerId %>&userId=<%= offers[i].userId %>">Delete</a>   <a href="/offer/toUpdate?offerId=<%=offers[i].offerId%>">Update</a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
